:root {
    --color-primary: hsl(338, 98%, 40%);
    --color-primary-hover: hsl(338, 98%, 50%);
    --color-background: hsl(338, 98%, 40%, 70%);
}

* {
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

header {
    width: 100vw;
    inset: 0;
    position: sticky;
    display: flex;
    flex-direction: column;
    background-color: hsl(338, 98%, 20%);
    justify-items: center;
    box-shadow: 0 0 0.75rem 0.1rem black;
    gap: 0.5rem;
    z-index: 1;
}

navi {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding: 0 1rem 1rem;
}

button {
    background-color: var(--color-primary);
    border: none;
    padding: 0.5em;
    border-radius: 1em;
    transition-duration: 0.2s;
}

button:hover {
    filter: brightness(1.25);
    cursor: pointer;
    box-shadow: 0 0.1em 0.25em black;
    transform: scale(1.025);
}

.header-top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

#logo-and-socials {
    display: flex;
    align-items: center;
}

#page-logo {
    width: 12rem;
    transition-duration: 0.4s;
    animation: heart-beat 1.3s ease-in-out 0s infinite;
}

@keyframes heart-beat {
  0% {transform: scale(1);}
  30% {transform: scale(0.99) rotate(-1deg);}
  60% {transform: scale(1);}
}

#page-logo:hover {
    cursor: pointer;
    filter: brightness(1.25);
}

.social-icon {
    width: 2rem;
    height: 2rem;
    color: var(--color-primary);
}

.social-icon:hover {
    filter: brightness(1.25);
    cursor: pointer;
}

.social-icon path {
    color: inherit !important;
}

.login-buttons * {
    font-size: 1rem;
}

.navigation-button {
    font-size: 1.25rem;
}

.navigation-button:hover {
    filter: brightness(1.25);
    cursor: pointer;
}

h1 {
    text-align: center;
}

img {
    width: 100%;;
}

article img {
    height: 200px;
    object-fit: cover;
    border-radius: 0.75rem;
}

body {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max(500px, 90%);
    height: 100vh;
    background: var(--color-background);
}

main {
    padding: 2rem 0 0 0;
    display: flex;
    gap: 2rem;
}

#vertical-ad-container {
    min-width: 15%;
}

#vertical-ad-container img {
    width: 100%;
    border-radius: 1rem;
    box-shadow: 0 0.25rem 0.75rem black;
}

#article-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.main-article {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
    gap: 1rem;
    background: var(--color-background);
    border-radius: 2rem;
    box-shadow: 0 0.25rem 0.75rem black;
}

.article-lead {
    font-size: 1.25rem;
}

.article-image {
    width: max(60%, 600px);
    border-radius: 2rem;
    box-shadow: 0 0.25rem 0.75rem black;
}

.article-text {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    font-size: 1.1rem;
}

article {
    padding: 1rem;
    background: var(--color-primary);
    border-radius: 1.5rem;
    width: max(200px, 100%);
    box-shadow: 0 0.25rem 0.75rem black;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    transition-duration: 0.4s;
}

article:hover {
    /* filter: brightness(1.25); */
    transform: scale(1.01);
    box-shadow: 0 0.35rem 0.75rem black;
    cursor: pointer;
}

